USE [master]
GO
CREATE DATABASE [academia]
ALTER DATABASE [academia] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [academia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [academia]
GO
/****** Object:  Table [dbo].[Agendas]    Script Date: 07/06/2025 22:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agendas](
	[cd_agenda] [int] IDENTITY(1,1) NOT NULL,
	[cd_aula] [int] NULL,
	[nm_aula] [varchar](50) NULL,
	[cd_aluno] [int] NULL,
	[cd_instrutor] [int] NULL,
	[dias_semana] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_agenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aulas]    Script Date: 07/06/2025 22:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aulas](
	[cd_aula] [int] IDENTITY(1,1) NOT NULL,
	[nm_aula] [varchar](50) NULL,
	[descricao] [varchar](max) NULL,
	[dt_inicio] [datetime] NULL,
	[dt_fim] [datetime] NULL,
	[cd_instrutor] [int] NULL,
	[capacidade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_aula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 07/06/2025 22:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[cd_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nm_cliente] [varchar](100) NULL,
	[cpf] [char](11) NULL,
	[email] [varchar](100) NULL,
	[telefone] [varchar](15) NULL,
	[dt_nascimento] [date] NULL,
	[endereco] [varchar](150) NULL,
	[dt_cadastro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contratos]    Script Date: 07/06/2025 22:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[cd_contrato] [int] IDENTITY(1,1) NOT NULL,
	[cd_funcionario] [int] NULL,
	[cd_cliente] [int] NULL,
	[cd_plano] [int] NULL,
	[dt_inicio] [date] NULL,
	[dt_fim] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Controle_Acessos]    Script Date: 07/06/2025 22:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Controle_Acessos](
	[cd_acesso] [int] IDENTITY(1,1) NOT NULL,
	[cd_cliente] [int] NULL,
	[dt_entrada] [datetime] NULL,
	[dt_saida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_acesso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 07/06/2025 22:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[cd_funcionario] [int] IDENTITY(1,1) NOT NULL,
	[nm_funcionario] [varchar](100) NULL,
	[cpf] [char](11) NULL,
	[email] [varchar](100) NULL,
	[telefone] [varchar](15) NULL,
	[cd_cargo] [int] NULL,
	[nm_cargo] [varchar](50) NULL,
	[dt_admissao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamentos]    Script Date: 07/06/2025 22:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamentos](
	[cd_pagamento] [int] IDENTITY(1,1) NOT NULL,
	[cd_contrato] [int] NULL,
	[valor_pago] [decimal](10, 2) NULL,
	[metodo_pag] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_pagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planos]    Script Date: 07/06/2025 22:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planos](
	[cd_plano] [int] IDENTITY(1,1) NOT NULL,
	[nm_plano] [varchar](50) NULL,
	[descricao] [varchar](max) NULL,
	[vl_preco] [decimal](10, 2) NULL,
	[tp_plano] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cd_plano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agendas]  WITH CHECK ADD FOREIGN KEY([cd_aluno])
REFERENCES [dbo].[Clientes] ([cd_cliente])
GO
ALTER TABLE [dbo].[Agendas]  WITH CHECK ADD FOREIGN KEY([cd_aula])
REFERENCES [dbo].[Aulas] ([cd_aula])
GO
ALTER TABLE [dbo].[Agendas]  WITH CHECK ADD FOREIGN KEY([cd_instrutor])
REFERENCES [dbo].[Funcionarios] ([cd_funcionario])
GO
ALTER TABLE [dbo].[Aulas]  WITH CHECK ADD FOREIGN KEY([cd_instrutor])
REFERENCES [dbo].[Funcionarios] ([cd_funcionario])
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([cd_cliente])
REFERENCES [dbo].[Clientes] ([cd_cliente])
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([cd_funcionario])
REFERENCES [dbo].[Funcionarios] ([cd_funcionario])
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD FOREIGN KEY([cd_plano])
REFERENCES [dbo].[Planos] ([cd_plano])
GO
ALTER TABLE [dbo].[Controle_Acessos]  WITH CHECK ADD FOREIGN KEY([cd_cliente])
REFERENCES [dbo].[Clientes] ([cd_cliente])
GO
ALTER TABLE [dbo].[Pagamentos]  WITH CHECK ADD FOREIGN KEY([cd_contrato])
REFERENCES [dbo].[Contratos] ([cd_contrato])
GO
USE [master]
GO
